
/* classnames - for creating classes that can be applied to multiple elements */
/*  id - */

/* to select classnames use a period ' . ' */
/* to select id's use a hastag ' # '*/

.header_container {
    padding: 18px; 
    background-color:  cadetblue;
    border-radius: 12px;

}


header {
    display: flex;
    flex-direction: column;
    text-align: center;
}


#the_one_and_only {
    color: white !important;
    font-size:15px;
    position: relative;
    top: 20px
}


#title-subtitle {
    color: white;
    font-size: 15px;
}





#score {
    font-family: "Press Start 2P", system-ui;
    color: white;
}

#trivia_game  {
    margin-top: 20px;
    line-height: 90px;
    font-size: 90px;
}

.questionText {
    background-color: gray;
    padding: 10px;
    color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4)
}


.question_parent {
    display: flex;
    align-items: center;
    justify-content: center;
}


.under_letters
 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

    p {
        border: 3px solid black;
        width: 158px;
        border-radius: 60px;
    }
    
 }

#question_container
{
    display: grid;
    grid-template-rows: 2;
    background-color: 'black'

}



#giveQuestion {
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    align-self: center;
    
}



.button-wrapper {
padding: 10px;
padding-right: 30px;
padding-left: 30px;
border-radius: 25px;
border: none;
margin: 20px
}


#button-container {
display: flex;
align-items: center;
justify-content: center;
padding: 10px
}


#button_container{
    margin-top: 25px;
    padding: 12px; 
    display: flex;
    align-items: center;
    justify-content: center;
    }




    

#trivia_game{

    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(244, 36, 78);

}



footer{
    
    margin-top: 50px;

/* p {
color: orange
} */
border-radius: 20px;
text-align: center;


#footer-title {  
    color: ivory;
}

p{
    color: rgba(0, 0, 0, 0.792);
    
    font-style: italic;
}


    
    background-color: rgb(107, 105, 105);


}


p {
    color: 'black'
}